node_modules/.package-lock.json
node_modules/@material-design-icons/font/_core.scss
node_modules/@material-design-icons/font/filled.css
node_modules/@material-design-icons/font/filled.scss
node_modules/@material-design-icons/font/index.css
node_modules/@material-design-icons/font/index.d.ts
node_modules/@material-design-icons/font/index.scss
node_modules/@material-design-icons/font/LICENSE
node_modules/@material-design-icons/font/material-icons-outlined.woff2
node_modules/@material-design-icons/font/material-icons-round.woff2
node_modules/@material-design-icons/font/material-icons-sharp.woff2
node_modules/@material-design-icons/font/material-icons-two-tone.woff2
node_modules/@material-design-icons/font/material-icons.woff2
node_modules/@material-design-icons/font/outlined.css
node_modules/@material-design-icons/font/outlined.scss
node_modules/@material-design-icons/font/package.json
node_modules/@material-design-icons/font/README.md
node_modules/@material-design-icons/font/round.css
node_modules/@material-design-icons/font/round.scss
node_modules/@material-design-icons/font/sharp.css
node_modules/@material-design-icons/font/sharp.scss
node_modules/@material-design-icons/font/two-tone.css
node_modules/@material-design-icons/font/two-tone.scss
